<a href="https://colab.research.google.com/github/sarahcodebyte/DiseaseDetectionApp/blob/main/DiabetesPredictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importing dependencies**

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

# **Data Collection and Analysis**

In [ ]:
diabetes_dataset = pd.read_csv('/content/diabetes.csv')

In [ ]:
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
diabetes_dataset.shape

(768, 9)

In [ ]:
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0---->Non-Diabetic
1---->Diabetic

In [ ]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

# **Data Preprocessing**

In [ ]:
#separating features and labels
X = diabetes_dataset.drop(columns = 'Outcome', axis = 1)
Y = diabetes_dataset['Outcome']

print(X.head())
print(Y.head())

   Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0            6      148             72             35        0  33.6
1            1       85             66             29        0  26.6
2            8      183             64              0        0  23.3
3            1       89             66             23       94  28.1
4            0      137             40             35      168  43.1

   DiabetesPedigreeFunction  Age
0                     0.627   50
1                     0.351   31
2                     0.672   32
3                     0.167   21
4                     2.288   33
0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

# **Standardizing the data**

In [ ]:
scaler = StandardScaler()

In [ ]:
scaler.fit(X)

StandardScaler()

In [ ]:
standardized_data = scaler.transform(X)

In [ ]:
X = standardized_data

# **Data Splitting**

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.25, stratify = Y, random_state = 2)

# **Training the model**

In [ ]:
classifier = svm.SVC(kernel = 'linear')
#training the SVC
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

# **Accuracy of the model**

In [ ]:
#for training data
X_train_prediction = classifier.predict(X_train)
accuracy_train_data = accuracy_score(X_train_prediction, Y_train)

print(accuracy_train_data*100)

78.81944444444444

In [ ]:
#for test data
X_test_prediction = classifier.predict(X_test)
accuracy_test_data = accuracy_score(X_test_prediction, Y_test)

print(accuracy_test_data*100)

76.5625

# **Testing agianst custom input**

In [ ]:
noOfPregnancies = int(input('Enter no of pregnancies: '))
age = int(input('Enter your age: '))
glucose = float(input('Enter you glucose level: '))
bloodPressure = float(input('Enter you blood pressure: '))
skinThick = float(input('Enter you skin thickness: '))
insulin = float(input("Enter your isnulin level: "))
bmi = float(input('Enter your BMI: '))
diabetesPedigreeFn = float(input('Enter your Diabetes Pedigree Function: '))

newUser = [[noOfPregnancies, age, glucose, bloodPressure, skinThick, insulin, bmi, diabetesPedigreeFn]]
result = classifier.predict(newUser)
print(result)

if result == 1:
  print('You are diabetic.')
else:
  print('Congrats! You are not diabetic.')

Enter no of pregnancies: 2
Enter your age: 28
Enter you glucose level: 125
Enter you blood pressure: 115
Enter you skin thickness: 22
Enter your isnulin level: 92
Enter your BMI: 28.1
Enter your Diabetes Pedigree Function: 0.278
[1]
You are diabetic.